

@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap');

/*------------- Body and header text---------------- */

.book.font-family-1 {
  font-family: 'Source Sans Pro', sans-serif;
 }
 
h1, h2, h3, h4 {
  font-family: 'Oswald', serif;
  color: #141d26;
}

.title {
  font-family: 'Oswald', serif;
  font-size: 3em !important;
  color: #141d26;
 }

.subtitle {
  font-family: 'Oswald', serif;
  color: #141d26;
}




/*------------ TOC --------------*/

.book .book-summary {
  background: white;
  border-right: none;
}


.summary{
font-family: 'Source Sans Pro', sans-serif;
}


.summary a:hover {
  color: #132c45 !important;
} 


/*active TOC links*/

.book .book-summary ul.summary li.active>a {
  color: #081726 !important;
  border-left: solid 4px;
  border-color: #081726;
  padding-left: 11px !important;
}  

/* for TOC part names */

li.appendix span, li.part span {  
  margin-top: 1em;
  color: #141d26 !important;
  opacity: 1 !important;
  font-size: larger;
}


/* TOC before */
.book .book-summary ul.summary li.before a {
  color: #141d26;
  text-decoration: none;
  font-size: 150%;
  font-family: 'Oswald', serif;
}


/* The next two rules make the horizontal line go straight across in top navbar */

.summary > li:first-child {
    height: 50px;
    padding-top: 10px;
    border-bottom: 1px solid rgba(0,0,0,.07);
}

.book .book-summary ul.summary li.divider {
    height: 0px;
}



/* -----------Custom div tips------------- */
/* from r-pkgs.org*/

  div.teie-kord {
    padding: 1em;
    margin: 2em 0;
    min-height: 120px;
    color: #b00202;
    border: solid 5px #b00202;
  }



caption, p.caption {
  color: #777;
  text-align: left !important;
  margin-top: 1em;
  font-size: 0.8em;
}

p code {
  white-space: inherit;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

pre code {
  white-space: inherit;
}




